// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
//
// //Variables
// @import 'variables';
//
// // Bootstrap
// @import '~bootstrap/scss/bootstrap';



.cart-quantity {
  display: inline-block;
  width: 20%;
}

.btn-addToCart {
  display: inline-block;
  width: 100px;

}
